@model UCP1_PAW_001_A.Models.Mobil

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mobil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMobil" class="control-label"></label>
                <input asp-for="IdMobil" class="form-control" />
                <span asp-validation-for="IdMobil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoPlat" class="control-label"></label>
                <input asp-for="NoPlat" class="form-control" />
                <span asp-validation-for="NoPlat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJenisMobil" class="control-label"></label>
                <select asp-for="IdJenisMobil" class ="form-control" asp-items="ViewBag.IdJenisMobil"></select>
            </div>
            <div class="form-group">
                <label asp-for="TahunMobil" class="control-label"></label>
                <input asp-for="TahunMobil" class="form-control" />
                <span asp-validation-for="TahunMobil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarnaMobil" class="control-label"></label>
                <input asp-for="WarnaMobil" class="form-control" />
                <span asp-validation-for="WarnaMobil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
